@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    background-color: rgb(245, 248, 250);
    flex-wrap: wrap;
    margin: 0;
}


.img-container {
    background-image: url('pandas.png');
    background-size: cover;
    width: 600px;
    height: 100vh;

}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    max-height: 100vh;
    

}

.card {
    height: 33.33vh;
    display: flex;
    flex-direction: column; 
    justify-content: end;

    
}

.desc {
    display: flex;
    padding: 5px 20px 20px;
    font-size: 15px;
}

.desc.title {
    font-size: 40px;
}

.form {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    height: 33.33vh;
    padding-bottom: 20px;
    box-shadow: 0px 12px 18px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 12px 18px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 18px -12px rgba(0,0,0,0.75);
    

}

legend {
    font-size: 24px;

}
.row, legend {
    display: flex;
    gap: 60px;
    padding: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.bottom {
    padding: 20px; 
    height: 33.33vh;
}

.submit-btn {
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.log-in-label {
    padding-top: 20px;
    color: black;
}

a {
    color: green;
    text-decoration: none;   
}

a:hover {
    color: rgb(2, 70, 2);
    font-weight: bold;
}

input {
    border-radius: 8px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}
